.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  }

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: blue;
    height: 20px;
  }